
env/
__pycache__
devops/__pycache__/
devops/__pycache__/views.cpython-38.pyc
devops/__pycache__/models.cpython-38.pyc
devops/__pycache__/views.cpython-38.pyc
devops/__pycache__/views.cpython-38.pyc
devops/__pycache__/models.cpython-38.pyc
