:root {
    --main-font: rgb(70, 70, 70);
    --bg: #F1F1F1;
    --bg-card: #FFFFFF;
    --primary: #0090E1;
    --primary-op: #008ee18f;
    --primary-light: #008ee13b;
    --opac: #AFAFAF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--bg);
    color: var(--main-font);
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: var(--main-font);
}

ol {
    list-style-type: none;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* Presentation */
.title {
    width: 46%;
    margin: 1rem;
}

.title-text {
    font-size: 7rem;
    font-weight: 700;
    color: var(--primary);
}
.title-subtext {
    font-size: 2rem;
    margin-bottom: 4rem;
}

/* Switch view */
.view-button {
    background-color: var(--bg-card);
    display: flex;
    width: fit-content;
    justify-content: space-evenly;
    margin-top: 1rem;
    border-radius: .5rem;
    position: relative;
}
.view-button::before {
    content: '';
    background-color: var(--primary);
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: .5rem;
    transition: transform .2s;
}

.view-button.active::before {
    transform: translateX(100%);
}

.view-global,
.view-unit {
    padding: .7rem 1.6rem;
    font-weight: bold;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.view-global {
    color: var(--bg-card);
}
.view-unit {
    color: var(--primary);
}

.view-button.active .view-unit {
    color: var(--bg-card);
}
.view-button.active .view-global {
    color: var(--primary);
}

/* pagination */
.pagination {
    position: relative;
    z-index: 55;
    display: none;
    width: 100%;
}
.pagination.exist {
    display: block;
}

.pagination > ol {
    display: flex;
    margin: 0 auto;
    margin-top: 2rem;
    width: fit-content;
}

.pagination li {
    border-radius: 50%;
    background-color: var(--primary-op);
    padding: .2rem;
    font-size: 1.2rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--bg);
    cursor: pointer;
    margin: .3rem;
}

.pagination li:hover{
    background-color: var(--primary-light);
}
.pagination li:active{
    background-color: var(--primary);
}




/* Unit */

.unit {
    display: flex;
    padding: 1.5rem;
    padding-left: 3rem;
    background-color: var(--bg-card);
    width: 46%;
    position: relative;
    margin: 1rem;
}
.unit::before,
.lines-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1.5rem;
    background-color: var(--primary);
}

.unit::after {
    content: attr(data-unit);
    position: absolute;
    bottom: 0;
    right: -1rem;
    font-size: 30rem;
    color: var(--primary);
    font-weight: bold;
    opacity: .04;
    line-height: 23rem;
    z-index: 0;
}

main.only .unit{
    width: 100%;
}
main.only {
    justify-content: flex-start;
}

.lines{
    width: 65%;
}
.number {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 2rem;

}


/* number section */
.number-title,
.number-weight {
    margin-bottom: 2rem;
}

.number-weight,
.number-bar {
    display: flex;
}

.number-bar {
    display: flex;
    /* flex-direction: column; */
}

.number-title h2 {
    color: var(--primary);
    font-size: 2rem;
}
.number-title b {
    font-weight: normal;
}


.weight-container {
    margin-right: 2rem;
}
.weight-container p {
    font-size: .7rem;
    margin-bottom: 0.4rem;
}

.weight-container b {
    color: var(--opac);
    font-weight: bold;
}
.weight-prod,
.weight-tank {
    color: var(--primary);
}

/* bar charts */
.bar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: .5rem;
    width: 100%;
}

.bar-item-title {
    width: 10ch;
    font-size: 0.7rem;
    text-align: center;
}
.bar-item-container {
    /* background-color: var(--bg); */
    width: min-content;
}

#bar1,
#bar2,
#bar3,
#bar4 {
    width: 60px!important;
    height: 250px!important;
}


/* history button */
.details-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: .5rem;
    /* margin-left: 2rem; */
    padding: 0 1rem;
}

.details {
    border: none;
    background: transparent;
    opacity: 0.7;
    cursor: pointer;
    outline: none;
}
.details:hover,
.details:focus {
    opacity: 1;
}
.details-arrow {
    filter: brightness(0%);
    font-size: 0.5rem;
    position: relative;
    bottom: .1rem;
    display: inline-block;
    transform: rotateZ(0deg);
    transition: transform .2s ease-in;
}
.details:hover .details-arrow {
    transform: rotateZ(90deg);
}

/* lines chart */
.lines {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: .2rem;

}
.lines-container {
    background-color: var(--bg);
    margin: 0.5rem;
    padding: 0.5rem;
    padding-left: 2rem;
    border-radius: .5rem;
    position: relative;
}
.lines-container::before {
    width: 1rem;
}

.lines-title {
    font-weight: bold;
}