<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content=""/>
        <link rel="icon" type="icon/png" href="{{ url_for('static', filename='img/robot.png') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/chart.css') }}"> -->
        <title>Dashboard - Devops</title>
    </head>
    <body>
        <main>
            <section class="title">
                
            </section>
            {% for item in range(5) %}
            <section class="unit">
                {% with nb = item + 1 %}
                    {% include 'unit/unit-number.html' %}
                {% endwith %}
                {% include 'unit/unit-chart.html' %}
            </section>
            {% endfor %}
        </main>
        <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html>