<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content=""/>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="canonical" href="">
        <meta property="og:title" content=""/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content=""/>
        <meta property="og:image" content=""/>
        <meta property="og:description" content=""/>
        <link rel="icon" type="icon/png" href=""/>
        <link rel="stylesheet" href="">
        <title>Dashboard - Devops</title>
    </head>
    <body>
        
    </body>
</html>