<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content=""/>
        <link rel="icon" type="icon/png" href="{{ url_for('static', filename='img/robot.png') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/chart.css') }}"> -->
        <title>Dashboard - Devops</title>
    </head>
    <body>
        <main>
            <section class="title">
                <h1 class="title-text">Monitor</h1>
                <p class="title-subtext">Usine de produits laitiers</p>
                <div class="view">
                    <p class="view-title">Changer de vue</p>
                    <div class="view-button">
                        <div class="view-global">Globale</div>
                        <div class="view-unit">&nbsp;&nbsp;Unité&nbsp;&nbsp;</div>
                    </div>
                </div>
            </section>
            {% for item in range(5) %}
                {% set nb = item +1 %}
            <section class="unit" data-unit="{{ nb }}">
                {% with nb=nb %}
                    {% include 'unit/unit-number.html' %}
                {% endwith %}
                {% include 'unit/unit-chart.html' %}
            </section>
            {% endfor %}
        </main>
        <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html>