<section class="number">
    <div class="number-title">
        <h2>Unité {{ nb }}</h2>
        <b>20 Novembre - 20:15</b>
    </div>
    <div class="number-value">
        <div class="number-weight">
            <div class="weight-container">
                <p>Poids lait en cuve</p>
                <b><span class="weight-tank">3552</span> Kg</b>
            </div>
            <div class="weight-container">
                <p>Poids produit fini</p>
                <b><span class="weight-prod">200</span> Kg</b>
            </div>
        </div>
        <div class="number-bar">
            <div class="bar-item">
                <div class="bar-item-container">
                    <canvas id="bar1"></canvas>
                </div>  
                <!-- <div class="details-container">
                    <button class="details">Historique <span class="details-arrow">🔻</span></button>
                    <button class="details">Historique <span class="details-arrow">🔻</span></button>
                </div> -->
            </div>
            <div class="bar-item">
                <div class="bar-item-container">
                    <canvas id="bar2"></canvas>
                </div>  
                <!-- <div class="details-container">
                    <button class="details">Historique <span class="details-arrow">🔻</span></button>
                </div> -->
            </div>
            <div class="bar-item">
                <div class="bar-item-container">
                    <canvas id="bar3"></canvas>
                </div>  
                <!-- <div class="details-container">
                    <button class="details">Historique <span class="details-arrow">🔻</span></button>
                </div> -->
            </div>
            <div class="bar-item">
                <div class="bar-item-container">
                    <canvas id="bar4"></canvas>
                </div>  
                <!-- <div class="details-container">
                    <button class="details">Historique <span class="details-arrow">🔻</span></button>
                </div> -->
            </div>
        </div>
    </div>
</section>