<section class="number">
    <div class="number-title">
        <h2>Unité {{ nb }}</h2>
        <b class="datetime"></b>
        <select name="robot-select" class="robot robot-{{ nb }}">
            <option value="1">Automate 1</option>
            <option value="2">Automate 2</option>
            <option value="3">Automate 3</option>
            <option value="4">Automate 4</option>
            <option value="5">Automate 5</option>
            <option value="6">Automate 6</option>
            <option value="7">Automate 7</option>
            <option value="8">Automate 8</option>
            <option value="9">Automate 9</option>
            <option value="10">Automate 10</option>
        </select>
    </div>
    <div class="number-value">
        <div class="number-weight">
            <div class="weight-container">
                <p>Poids lait en cuve</p>
                <b><span class="weight-tank">3552</span> Kg</b>
            </div>
            <div class="weight-container">
                <p>Poids produit fini</p>
                <b><span class="weight-prod">200</span> Kg</b>
            </div>
        </div>
        <div class="number-bar">
            <div class="bar-item">
                <div class="bar-item-container">
                    <canvas class="bar1 bar1-unit{{nb}}"></canvas>
                </div>  
            </div>
            <div class="bar-item">
                <div class="bar-item-container">
                    <canvas class="bar2 bar2-unit{{nb}}"></canvas>
                </div>  
            </div>
            <div class="bar-item">
                <div class="bar-item-container">
                    <canvas class="bar3 bar3-unit{{nb}}"></canvas>
                </div>  
            </div>
            <div class="bar-item">
                <div class="bar-item-container">
                    <canvas class="bar4 bar4-unit{{nb}}"></canvas>
                </div>  
            </div>
        </div>
    </div>
</section>