<section class="lines">
    <div class="lines-container">
        <p class="lines-title">Concentration de NaCl</p>
        <div class="lines-chart">
            <canvas id="chart1"></canvas>
        </div>
    </div>
    <div class="lines-container">
        <p class="lines-title">Niveau bactérien Salmonelle</p>
        <div class="lines-chart">
            <canvas id="chart2"></canvas>
        </div>
    </div>
    <div class="lines-container">
        <p class="lines-title">Niveau bactérien E-coli</p>
        <div class="lines-chart">
            <canvas id="chart3"></canvas>
        </div>
    </div>
    <div class="lines-container">
        <p class="lines-title">Niveau bactérien Listéria</p>
        <div class="lines-chart">
            <canvas id="chart4"></canvas>
        </div>
    </div>
</section>